USE [DboTicariOtomasyon]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 29.01.2022 04:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[KULLANICIAD] [varchar](10) NULL,
	[SIFRE] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BANKALAR]    Script Date: 29.01.2022 04:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BANKALAR](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[BANKAADI] [varchar](30) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[SUBE] [varchar](30) NULL,
	[IBAN] [varchar](30) NULL,
	[HESAPNO] [varchar](20) NULL,
	[YETKILI] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TARIH] [varchar](10) NULL,
	[HESAPTURU] [varchar](20) NULL,
	[FIRMAID] [smallint] NULL,
 CONSTRAINT [PK_TBL_BANKALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FATURABILGI]    Script Date: 29.01.2022 04:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FATURABILGI](
	[FATURABILGIID] [int] IDENTITY(1,1) NOT NULL,
	[SERI] [char](1) NULL,
	[SIRANO] [varchar](10) NULL,
	[TARIH] [varchar](10) NULL,
	[SAAT] [varchar](5) NULL,
	[VERGIDAIRE] [varchar](40) NULL,
	[ALICI] [varchar](30) NULL,
	[TESLIMEDEN] [varchar](30) NULL,
	[TESLIMALAN] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_FATURABILGI] PRIMARY KEY CLUSTERED 
(
	[FATURABILGIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FATURADETAY]    Script Date: 29.01.2022 04:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FATURADETAY](
	[FATURAURUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](20) NULL,
	[MIKTAR] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TUTAR] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
 CONSTRAINT [PK_TBL_FATURADETAY] PRIMARY KEY CLUSTERED 
(
	[FATURAURUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FIRMAHAREKETLER]    Script Date: 29.01.2022 04:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FIRMAHAREKETLER](
	[HAREKETID] [int] IDENTITY(1,1) NOT NULL,
	[URUNID] [int] NULL,
	[ADET] [tinyint] NULL,
	[PERSONEL] [tinyint] NULL,
	[FIRMA] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TOPLAM] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
	[TARIH] [varchar](10) NULL,
	[NOTLAR] [varchar](250) NULL,
 CONSTRAINT [PK_TBL_HAREKETLER] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FIRMALAR]    Script Date: 29.01.2022 04:55:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FIRMALAR](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[YETKILISTATU] [varchar](30) NULL,
	[YETKILIADSOYAD] [varchar](30) NULL,
	[YETKILITC] [char](11) NULL,
	[SEKTOR] [varchar](15) NULL,
	[TELEFON1] [varchar](15) NULL,
	[TELEFON2] [varchar](15) NULL,
	[TELEFON3] [varchar](15) NULL,
	[MAIL] [varchar](40) NULL,
	[FAX] [varchar](15) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[VERGIDAIRE] [varchar](30) NULL,
	[ADRES] [varchar](100) NULL,
	[OZELKOD1] [varchar](10) NULL,
	[OZELKOD2] [varchar](10) NULL,
	[OZELKOD3] [varchar](10) NULL,
 CONSTRAINT [PK_TBL_FIRMALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GIDERLER]    Script Date: 29.01.2022 04:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GIDERLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AY] [varchar](7) NULL,
	[YIL] [char](4) NULL,
	[ELEKTRIK] [decimal](18, 2) NULL,
	[SU] [decimal](18, 2) NULL,
	[DOGALGAZ] [decimal](18, 2) NULL,
	[INTERNET] [decimal](18, 2) NULL,
	[MAASLAR] [decimal](18, 2) NULL,
	[EKSTRA] [decimal](18, 2) NULL,
	[NOTLAR] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILCELER]    Script Date: 29.01.2022 04:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILCELER](
	[ID] [int] NOT NULL,
	[ILCE] [nvarchar](255) NULL,
	[SEHIR] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILLER]    Script Date: 29.01.2022 04:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SEHIR] [nvarchar](255) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_KODLAR]    Script Date: 29.01.2022 04:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KODLAR](
	[FIRMAKOD1] [varchar](300) NULL,
	[FIRMAKOD2] [varchar](300) NULL,
	[FIRMAKOD3] [varchar](300) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MUSTERIHAREKETLER]    Script Date: 29.01.2022 04:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MUSTERIHAREKETLER](
	[HAREKETID] [int] IDENTITY(1,1) NOT NULL,
	[URUNID] [int] NULL,
	[ADET] [tinyint] NULL,
	[PERSONEL] [tinyint] NULL,
	[MUSTERI] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TOPLAM] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
	[TARIH] [varchar](10) NULL,
	[NOTLAR] [varchar](250) NULL,
 CONSTRAINT [PK_TBL_MUSTERIHAREKETLER] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MUSTERILER]    Script Date: 29.01.2022 04:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MUSTERILER](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TELEFON2] [varchar](15) NULL,
	[TC] [char](11) NULL,
	[MAIL] [varchar](40) NULL,
	[IL] [varchar](12) NULL,
	[ILCE] [varchar](20) NULL,
	[ADRES] [varchar](100) NULL,
	[VERGIDAIRE] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_MUSTERILER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NOTLAR]    Script Date: 29.01.2022 04:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NOTLAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TARIH] [varchar](10) NULL,
	[SAAT] [varchar](5) NULL,
	[BASLIK] [varchar](50) NULL,
	[DETAY] [varchar](250) NULL,
	[OLUSTURAN] [varchar](20) NULL,
	[HITAP] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PERSONELLER]    Script Date: 29.01.2022 04:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERSONELLER](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TC] [char](11) NULL,
	[MAIL] [varchar](40) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[ADRES] [varchar](100) NULL,
	[GOREV] [varchar](20) NULL,
 CONSTRAINT [PK_TBL_PERSONELLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STOKLAR]    Script Date: 29.01.2022 04:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STOKLAR](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[STOKTUR] [varchar](20) NULL,
	[STOKADET] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_URUNLER]    Script Date: 29.01.2022 04:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_URUNLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](30) NULL,
	[MARKA] [varchar](20) NULL,
	[MODEL] [varchar](20) NULL,
	[YIL] [char](4) NULL,
	[ADET] [smallint] NULL,
	[ALISFIYAT] [decimal](18, 2) NULL,
	[SATISFIYAT] [decimal](18, 2) NULL,
	[DETAY] [varchar](500) NULL,
 CONSTRAINT [PK_TBL_URUNLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TBL_ADMIN] ([KULLANICIAD], [SIFRE]) VALUES (N'admin', N'0000')
INSERT [dbo].[TBL_ADMIN] ([KULLANICIAD], [SIFRE]) VALUES (N'baran', N'1111')
INSERT [dbo].[TBL_ADMIN] ([KULLANICIAD], [SIFRE]) VALUES (N'eda', N'4321')
SET IDENTITY_INSERT [dbo].[TBL_BANKALAR] ON 

INSERT [dbo].[TBL_BANKALAR] ([ID], [BANKAADI], [IL], [ILCE], [SUBE], [IBAN], [HESAPNO], [YETKILI], [TELEFON], [TARIH], [HESAPTURU], [FIRMAID]) VALUES (1, N'Ziraat Bankası', N'İSTANBUL', N'BEYOĞLU', N'Taksim', N'TR00 1234 5678 9452 3025 7852', N'5678 9452 3025 7852', N'Ali Parasayar', N'(212) 654-7812', N'02.01.2020', N'Firma', 2)
INSERT [dbo].[TBL_BANKALAR] ([ID], [BANKAADI], [IL], [ILCE], [SUBE], [IBAN], [HESAPNO], [YETKILI], [TELEFON], [TARIH], [HESAPTURU], [FIRMAID]) VALUES (2, N'Garanti Bankası', N'ADANA', N'SEYHAN', N'Şakirpaşa', N'TR01 0145 4568 7845 5487 5454', N'4568 7845 5487 5454', N'Mehmet Kara', N'(322) 325-4578', N'02.01.2020', N'Firma', 2)
INSERT [dbo].[TBL_BANKALAR] ([ID], [BANKAADI], [IL], [ILCE], [SUBE], [IBAN], [HESAPNO], [YETKILI], [TELEFON], [TARIH], [HESAPTURU], [FIRMAID]) VALUES (5, N'Vakıf Bank', N'İSTANBUL', N'ZEYTİNBURNU', N'Zeytinburnu', N'TR00 5487 9564 5421 5452 5454', N'9564 5421 5452 5454', N'Hasan Çakar', N'(212) 355-4687', N'12.02.2020', N'Firma', 3)
SET IDENTITY_INSERT [dbo].[TBL_BANKALAR] OFF
SET IDENTITY_INSERT [dbo].[TBL_FATURABILGI] ON 

INSERT [dbo].[TBL_FATURABILGI] ([FATURABILGIID], [SERI], [SIRANO], [TARIH], [SAAT], [VERGIDAIRE], [ALICI], [TESLIMEDEN], [TESLIMALAN]) VALUES (1, N'A', N'100000', N'05.01.2020', N'16:30', N'Taksim', N'Ali Çınar', N'Ender Güneş', N'Mehmet Çınar')
INSERT [dbo].[TBL_FATURABILGI] ([FATURABILGIID], [SERI], [SIRANO], [TARIH], [SAAT], [VERGIDAIRE], [ALICI], [TESLIMEDEN], [TESLIMALAN]) VALUES (2, N'A', N'100101', N'04.01.2020', N'17:20', N'Zeytinburnu', N'Orhan Aslan', N'Ahmet Çınar', N'Seyfettin Aslan')
INSERT [dbo].[TBL_FATURABILGI] ([FATURABILGIID], [SERI], [SIRANO], [TARIH], [SAAT], [VERGIDAIRE], [ALICI], [TESLIMEDEN], [TESLIMALAN]) VALUES (4, N'A', N'100103', N'05.01.2020', N'11:05', N'Esenler', N'Hasan Kaya', N'Mehmet Yücedağ', N'Hasan Kaya')
SET IDENTITY_INSERT [dbo].[TBL_FATURABILGI] OFF
SET IDENTITY_INSERT [dbo].[TBL_FATURADETAY] ON 

INSERT [dbo].[TBL_FATURADETAY] ([FATURAURUNID], [URUNAD], [MIKTAR], [FIYAT], [TUTAR], [FATURAID]) VALUES (1, N'Televizyon', 12, CAST(2200.00 AS Decimal(18, 2)), CAST(26400.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBL_FATURADETAY] ([FATURAURUNID], [URUNAD], [MIKTAR], [FIYAT], [TUTAR], [FATURAID]) VALUES (2, N'Klima', 5, CAST(750.00 AS Decimal(18, 2)), CAST(3750.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBL_FATURADETAY] ([FATURAURUNID], [URUNAD], [MIKTAR], [FIYAT], [TUTAR], [FATURAID]) VALUES (3, N'Su Isıtıcı', 12, CAST(35.00 AS Decimal(18, 2)), CAST(420.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[TBL_FATURADETAY] OFF
SET IDENTITY_INSERT [dbo].[TBL_FIRMAHAREKETLER] ON 

INSERT [dbo].[TBL_FIRMAHAREKETLER] ([HAREKETID], [URUNID], [ADET], [PERSONEL], [FIRMA], [FIYAT], [TOPLAM], [FATURAID], [TARIH], [NOTLAR]) VALUES (3, 2, 2, 3, 3, CAST(625.00 AS Decimal(18, 2)), CAST(1250.00 AS Decimal(18, 2)), 10, N'09.01.2020', N'Satış yapıldı.')
INSERT [dbo].[TBL_FIRMAHAREKETLER] ([HAREKETID], [URUNID], [ADET], [PERSONEL], [FIRMA], [FIYAT], [TOPLAM], [FATURAID], [TARIH], [NOTLAR]) VALUES (7, 6, 1, 3, 8, CAST(1712.00 AS Decimal(18, 2)), CAST(1712.00 AS Decimal(18, 2)), 11, N'08.03.2020', N'Teslim Edildi.')
SET IDENTITY_INSERT [dbo].[TBL_FIRMAHAREKETLER] OFF
SET IDENTITY_INSERT [dbo].[TBL_FIRMALAR] ON 

INSERT [dbo].[TBL_FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADSOYAD], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [TELEFON3], [MAIL], [FAX], [IL], [ILCE], [VERGIDAIRE], [ADRES], [OZELKOD1], [OZELKOD2], [OZELKOD3]) VALUES (1, N'Mavi Yeşil Hastanesi', N'Satın Alma Müdürü', N'Atakan Yıldız', N'12345678912', N'Sağlık', N'(532) 548-5475', N'(541) 547-3254', N'(212) 654-8795', N'maviyesil@info.com', N'(212) 546-6978', N'ADANA', N'SEYHAN', N'SEYHAN', N'Küçük saat bulgarı mustafa kemal paşa sk. no 12', N'A1001', NULL, NULL)
INSERT [dbo].[TBL_FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADSOYAD], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [TELEFON3], [MAIL], [FAX], [IL], [ILCE], [VERGIDAIRE], [ADRES], [OZELKOD1], [OZELKOD2], [OZELKOD3]) VALUES (2, N'Ay Işığı İlkokulu', N'Okul Müdürü', N'Sezer Savan', N'54875465145', N'Eğitim', N'(532) 548-5245', N'(541) 547-3563', N'(212) 662-4646', N'ayisigiokul@info.com', N'(212) 426-2642', N'İSTANBUL', N'ESENYURT', N'ESENYURT', N'fatih caddesi', N'A1003', N'', N'')
INSERT [dbo].[TBL_FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADSOYAD], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [TELEFON3], [MAIL], [FAX], [IL], [ILCE], [VERGIDAIRE], [ADRES], [OZELKOD1], [OZELKOD2], [OZELKOD3]) VALUES (3, N'Aslan Tekstil', N'Müdür Yardımcısı', N'Orhan Aslan', N'54444645874', N'Tekstil', N'(532) 548-5245', N'(541) 547-3563', N'(216) 662-4646', N'orhanaslanl@aslantekstil.com.tr', N'(212) 426-2642', N'İSTANBUL', N'ZEYTİNBURNU', N'ZEYTİNBURNU', N'Aslan tekstik zeytinburnu no:06 ', N'A1004', N'', N'')
SET IDENTITY_INSERT [dbo].[TBL_FIRMALAR] OFF
SET IDENTITY_INSERT [dbo].[TBL_GIDERLER] ON 

INSERT [dbo].[TBL_GIDERLER] ([ID], [AY], [YIL], [ELEKTRIK], [SU], [DOGALGAZ], [INTERNET], [MAASLAR], [EKSTRA], [NOTLAR]) VALUES (1, N'Ocak', N'2018', CAST(85.41 AS Decimal(18, 2)), CAST(74.25 AS Decimal(18, 2)), CAST(63.15 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), CAST(450.00 AS Decimal(18, 2)), N'Personellere yeni kıyafetler alındı.')
INSERT [dbo].[TBL_GIDERLER] ([ID], [AY], [YIL], [ELEKTRIK], [SU], [DOGALGAZ], [INTERNET], [MAASLAR], [EKSTRA], [NOTLAR]) VALUES (2, N'Şubat', N'2018', CAST(83.62 AS Decimal(18, 2)), CAST(72.20 AS Decimal(18, 2)), CAST(145.75 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), CAST(120.00 AS Decimal(18, 2)), N'Kombi bakımları yapıldı.')
INSERT [dbo].[TBL_GIDERLER] ([ID], [AY], [YIL], [ELEKTRIK], [SU], [DOGALGAZ], [INTERNET], [MAASLAR], [EKSTRA], [NOTLAR]) VALUES (3, N'Mart', N'2018', CAST(95.25 AS Decimal(18, 2)), CAST(65.70 AS Decimal(18, 2)), CAST(223.14 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), CAST(120.00 AS Decimal(18, 2)), N'Personel için su sebili satın alınmıştır.')
SET IDENTITY_INSERT [dbo].[TBL_GIDERLER] OFF
SET IDENTITY_INSERT [dbo].[TBL_ILCELER] ON 

INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [SEHIR]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [SEHIR]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [SEHIR]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_ILCELER] OFF
SET IDENTITY_INSERT [dbo].[TBL_ILLER] ON 

INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (1, N'ADANA')
INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[TBL_ILLER] OFF
INSERT [dbo].[TBL_KODLAR] ([FIRMAKOD1], [FIRMAKOD2], [FIRMAKOD3]) VALUES (N'Sektör bazında raporlama almak için kullanacağımız kodlardır. Firma sektörünün sessiz harflerini yazarak ve firma ismine de bir sayı değeri vererek en fazla 10 karakter uzunluğunda kodlar oluşturulur.', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBL_MUSTERIHAREKETLER] ON 

INSERT [dbo].[TBL_MUSTERIHAREKETLER] ([HAREKETID], [URUNID], [ADET], [PERSONEL], [MUSTERI], [FIYAT], [TOPLAM], [FATURAID], [TARIH], [NOTLAR]) VALUES (1, 9, 1, 3, 7, CAST(1366.00 AS Decimal(18, 2)), CAST(1366.00 AS Decimal(18, 2)), 10, N'09.01.2020', N'Garanti süresi 2 yıldır.')
SET IDENTITY_INSERT [dbo].[TBL_MUSTERIHAREKETLER] OFF
SET IDENTITY_INSERT [dbo].[TBL_MUSTERILER] ON 

INSERT [dbo].[TBL_MUSTERILER] ([ID], [AD], [SOYAD], [TELEFON], [TELEFON2], [TC], [MAIL], [IL], [ILCE], [ADRES], [VERGIDAIRE]) VALUES (1, N'Sinem', N'Tel', N'(520) 354-2365', N'(216) 123-4698', N'12345678922', N'sinem@mail.com', N'İstanbul', N'Pendik', N'papatya mah. celebi caddesi no:11 daire : 8', N'Kurtköy')
INSERT [dbo].[TBL_MUSTERILER] ([ID], [AD], [SOYAD], [TELEFON], [TELEFON2], [TC], [MAIL], [IL], [ILCE], [ADRES], [VERGIDAIRE]) VALUES (2, N'Ömer', N'Dönmez', N'(536) 111-2322', N'(312) 258-9552', N'22334455667', N'omer@hotmail.com', N'Ankara', N'Kızılay', N'Karanfil sokak celalettin caddesi', N'Kızılay')
INSERT [dbo].[TBL_MUSTERILER] ([ID], [AD], [SOYAD], [TELEFON], [TELEFON2], [TC], [MAIL], [IL], [ILCE], [ADRES], [VERGIDAIRE]) VALUES (3, N'Baran', N'Yücedağ', N'(541) 241-4541', N'(212) 454-1125', N'54214521542', N'baran@hotmail.com', N'ANKARA', N'ÇANKAYA', N'Çınar aparmanı kat:06 daire:09', N'Çankaya')
SET IDENTITY_INSERT [dbo].[TBL_MUSTERILER] OFF
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] ON 

INSERT [dbo].[TBL_NOTLAR] ([ID], [TARIH], [SAAT], [BASLIK], [DETAY], [OLUSTURAN], [HITAP]) VALUES (1, N'08.01.2020', N'16:00', N'Toplantı', N'3. kat ana salonda toplantı yapılacaktır, herkesin katılması gerekmektedir. Bugün işten erken çıkılacaktır.', N'Baran Çınar', N'Herkes')
INSERT [dbo].[TBL_NOTLAR] ([ID], [TARIH], [SAAT], [BASLIK], [DETAY], [OLUSTURAN], [HITAP]) VALUES (2, N'08.01.2020', N'15:00', N'Telefon Görüşmesi', N'Bugün saat 15:00''te Mavi Yeşil Hastanesi muhasebesi aranacaktır. Ödemelerle ilgili!', N'Eda Yıldız', N'Mavi Yeşil Firma')
INSERT [dbo].[TBL_NOTLAR] ([ID], [TARIH], [SAAT], [BASLIK], [DETAY], [OLUSTURAN], [HITAP]) VALUES (3, N'22.05.2019', N'16:45', N'Acil Toplantı', N'Acil Toplantı yapmamız gerekmektedir bu sebeple herkesi 16:45 '' te lobiye toplanmaya çağırıyoruz.', N'Hakan Yürür', N'Herkes')
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] OFF
SET IDENTITY_INSERT [dbo].[TBL_PERSONELLER] ON 

INSERT [dbo].[TBL_PERSONELLER] ([ID], [AD], [SOYAD], [TELEFON], [TC], [MAIL], [IL], [ILCE], [ADRES], [GOREV]) VALUES (1, N'Mehmet', N'Yücedağ', N'(532) 548-5454', N'45678965478', N'deneme@mail.com', N'ELAZIĞ', N'MERKEZ', N'Atlı sokak kaya apartman no:05', N'Muhasebe')
INSERT [dbo].[TBL_PERSONELLER] ([ID], [AD], [SOYAD], [TELEFON], [TC], [MAIL], [IL], [ILCE], [ADRES], [GOREV]) VALUES (2, N'Ender', N'Güneş', N'(542) 587-8798', N'65547896541', N'ender@info.com.tr', N'Bursa', N'Nilüfer', N'Atlı Sokak Kaya apt.', N'Satış Temsilcisi')
INSERT [dbo].[TBL_PERSONELLER] ([ID], [AD], [SOYAD], [TELEFON], [TC], [MAIL], [IL], [ILCE], [ADRES], [GOREV]) VALUES (3, N'Baran', N'Çınar', N'(212) 654-5454', N'87546589852', N'ahmet@deneme.info.com', N'İSTANBUL', N'ESENYURT', N'KOZA HAN.', N'Satış Temsilcisi')
SET IDENTITY_INSERT [dbo].[TBL_PERSONELLER] OFF
SET IDENTITY_INSERT [dbo].[TBL_URUNLER] ON 

INSERT [dbo].[TBL_URUNLER] ([ID], [URUNAD], [MARKA], [MODEL], [YIL], [ADET], [ALISFIYAT], [SATISFIYAT], [DETAY]) VALUES (1, N'Buzdolabı', N'Siemens', N'A216', N'2017', 15, CAST(850.00 AS Decimal(18, 2)), CAST(925.00 AS Decimal(18, 2)), N'A plus derin derin dondurucu özelliği mevcuttur. 5 raflı ve 4 adet sebze bölmesi bulunmaktadır. 3 yıl garantili olup, kurulum işlemleri tarafımızca yapılmaktadır.')
INSERT [dbo].[TBL_URUNLER] ([ID], [URUNAD], [MARKA], [MODEL], [YIL], [ADET], [ALISFIYAT], [SATISFIYAT], [DETAY]) VALUES (2, N'Çamaşır Makinesi', N'Bosch', N'BSC244', N'2016', 10, CAST(450.00 AS Decimal(18, 2)), CAST(625.00 AS Decimal(18, 2)), N'Ürünlerimiz firmamız tarafından 2 yıl garantiye tabidir. Kapasitesi 5kg olan bu çamaşır makinesi en seçkin ürünlerimizden biridir.')
INSERT [dbo].[TBL_URUNLER] ([ID], [URUNAD], [MARKA], [MODEL], [YIL], [ADET], [ALISFIYAT], [SATISFIYAT], [DETAY]) VALUES (3, N'Tost Makinesi', N'Arzum', N'ArzTM001', N'2017', 5, CAST(135.00 AS Decimal(18, 2)), CAST(165.00 AS Decimal(18, 2)), N'2 yıl Arzum garantisi kapsamındadır.')
SET IDENTITY_INSERT [dbo].[TBL_URUNLER] OFF
ALTER TABLE [dbo].[TBL_BANKALAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BANKALAR_TBL_FIRMALAR] FOREIGN KEY([FIRMAID])
REFERENCES [dbo].[TBL_FIRMALAR] ([ID])
GO
ALTER TABLE [dbo].[TBL_BANKALAR] CHECK CONSTRAINT [FK_TBL_BANKALAR_TBL_FIRMALAR]
GO
ALTER TABLE [dbo].[TBL_FATURADETAY]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FATURADETAY_TBL_FATURABILGI] FOREIGN KEY([FATURAID])
REFERENCES [dbo].[TBL_FATURABILGI] ([FATURABILGIID])
GO
ALTER TABLE [dbo].[TBL_FATURADETAY] CHECK CONSTRAINT [FK_TBL_FATURADETAY_TBL_FATURABILGI]
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HAREKETLER_TBL_FIRMALAR] FOREIGN KEY([FIRMA])
REFERENCES [dbo].[TBL_FIRMALAR] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER] CHECK CONSTRAINT [FK_TBL_HAREKETLER_TBL_FIRMALAR]
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HAREKETLER_TBL_PERSONELLER] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBL_PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER] CHECK CONSTRAINT [FK_TBL_HAREKETLER_TBL_PERSONELLER]
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HAREKETLER_TBL_URUNLER] FOREIGN KEY([URUNID])
REFERENCES [dbo].[TBL_URUNLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER] CHECK CONSTRAINT [FK_TBL_HAREKETLER_TBL_URUNLER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_MUSTERILER] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBL_MUSTERILER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER] CHECK CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_MUSTERILER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_PERSONELLER] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBL_PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER] CHECK CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_PERSONELLER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_URUNLER] FOREIGN KEY([URUNID])
REFERENCES [dbo].[TBL_URUNLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER] CHECK CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_URUNLER]
GO
/****** Object:  StoredProcedure [dbo].[BANKABILGILERI]    Script Date: 29.01.2022 04:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BANKABILGILERI]
AS
SELECT TBL_BANKALAR.ID, BANKAADI,TBL_BANKALAR.IL,TBL_BANKALAR.ILCE,SUBE,IBAN,HESAPNO,YETKILI,TELEFON,TARIH,HESAPTURU, AD FROM TBL_BANKALAR INNER JOIN TBL_FIRMALAR
ON
TBL_BANKALAR.FIRMAID = TBL_FIRMALAR.ID
GO
/****** Object:  StoredProcedure [dbo].[FirmaHareketler]    Script Date: 29.01.2022 04:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FirmaHareketler]
AS
SELECT HAREKETID,URUNAD,TBL_FIRMAHAREKETLER.ADET, (TBL_PERSONELLER.AD + ' ' + SOYAD) AS 'AD SOYAD',TBL_FIRMALAR.AD AS 'FIRMA ADI'
,FIYAT,TOPLAM,FATURAID,TARIH,NOTLAR
FROM TBL_FIRMAHAREKETLER
INNER JOIN
TBL_URUNLER
ON
TBL_FIRMAHAREKETLER.URUNID = TBL_URUNLER.ID
INNER JOIN
TBL_PERSONELLER
ON
TBL_FIRMAHAREKETLER.PERSONEL = TBL_PERSONELLER.ID
INNER JOIN
TBL_FIRMALAR
ON	TBL_FIRMAHAREKETLER.FIRMA = TBL_FIRMALAR.ID
GO
/****** Object:  StoredProcedure [dbo].[MusteriHareketler]    Script Date: 29.01.2022 04:55:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MusteriHareketler]
AS
SELECT HAREKETID,URUNAD,TBL_MUSTERIHAREKETLER.ADET,
(TBL_PERSONELLER.AD + ' ' + TBL_PERSONELLER.SOYAD ) AS 'AD SOYAD',
(TBL_MUSTERILER.AD + ' ' + TBL_MUSTERILER.SOYAD ) AS 'MÜŞTERİ',
FIYAT,TOPLAM,TBL_MUSTERIHAREKETLER.ADET,FATURAID,TARIH,NOTLAR
FROM
TBL_MUSTERIHAREKETLER
INNER JOIN
TBL_URUNLER
ON
TBL_MUSTERIHAREKETLER.URUNID = TBL_URUNLER.ID
INNER JOIN TBL_PERSONELLER
ON TBL_MUSTERIHAREKETLER.PERSONEL = TBL_PERSONELLER.ID
INNER JOIN TBL_MUSTERILER
ON
TBL_MUSTERIHAREKETLER.MUSTERI = TBL_MUSTERILER.ID
GO
